bplistø0

!"#!$
%&#'*_BuildMachine0SBuild_CFBund
leDevelopmentRegion_CFBundleExec
utable_CFBundleIdentifier_CFBund
leInfoDictionaryVersion\CFBundle
Name_CFBundlePackageType_CFBundl
eShortVersionString_CFBundleSupp
ortedPlatforms_CFBundleVersionZD
TCompiler_DTPlatformBuild^DTPlat
formName_DTPlatformVersionZDTSDK
BuildYDTSDKNameWDTXcode\DTXcodeB
uild MinimumoSVersion^ UIDeviceFa mily_UIRequiredDeviceCapabilitie sU17G65RenXJRMemory_landonghook.
JRMemoryS6. 0TFMWKS1. 0XiPhone0SQ1
_"com. apple. compilers. llvm. clang
• 1_OU16B91XiphoneosT12.1\iphoneo
s12.1T101010B61() +Uarm64
